body{
    padding: 0% 6%;
    background-color: #f7f4f4;  
    color:#464646;   
    font-family: system-ui;
    font-size: 1vmax;   
}

.headerString{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 2%;
}

#geoUpdate{
    margin-right: 43%;
    padding: 1vmin 2vmax;  
    width: 18%;
    height: 3%;
    font-size: 100%;
}

#smallGeoUpdate{
    display: none;
}

.cityName{
    font-weight: bold;
    font-style: italic;
}

ul{
    list-style-type: none;
}

.weather{    
    width: 45%;
    height: 35%;
    margin-top: 0%;
    padding-left: 0%;
}

.parameters{
    background-color:gray;
    height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 0%;
    padding-left: 3%;
    padding-right: 3%;
    color: white;
}

#currentTemp{
    display: flex;
    align-content: center;    
    width: 45%;
    height: 20%;
    flex-wrap: wrap;
    justify-content: space-between;
}

h2{    
    font-size: 2em;
}

#currentCity{
    margin-right: 50%;
}

#mainText{
    font-size: 7vmax;      
    margin: 0%;
    margin-right: 15%;
}

#mainIcon{
    display: block;
    width: 40%;    
}

#mainSection{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 3%;
}

.parName{
    font-weight: bold;
}

.circleButtons{
    border: none;
    background: none;  
    height: 6vmin;  
}

.buttonIcon{
    height: 100%;
}

input{
    padding: 1em 3em;
    font-size: 100%;
}

#addCity{
    display: flex;
    align-items: center;
}

h3{
    font-size: 1.5em;
}

.cityTemp{
    font-size: 3em;
    margin:0%;
}

.weatherIcons{
    display: block;
    width: 10%;
}

.cityNameString{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#cities{
    padding: 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.otherCities{
    width: 45%;
    margin-bottom: 3%;
}

.other{
    width: 100%;
}

@media all and (max-width: 500px) {

    body{
        font-size: 2vmax;
    }

    #mainText{
        font-size: 11vmax;
    }
    
    #geoUpdate{
        display: none;
    }

    #smallGeoUpdate{
        display: block;
        margin-right: 35%;
    }

    #currentTemp, .weather, #chosen, #addCity, .otherCities{
        width: 100%;
    }    
}