body{
    padding: 0% 6%;
        
}
header{
    border-style: double;    
}

main{
    border-style: double;
    
}

@media screen and (min-width: 700px) and (max-width: 1024px) {
    body{
        font-size: 0.8em;
    }
}

@media screen and (min-width: 350px) and (max-width: 700px) {
    body{
        font-size: 0.6em;
    }
}

@media screen and (max-width: 350px) {
    body{
        font-size: 0.6em;
    }

    #geoUpdate{
        display: none;
    }

    #smallGeoUpdate{
        display: block;
        margin-right: 15%;
    }

    #currentTemp, .weather, #chosen, #addCity, .otherCities{
        width: 100%;
    }    
}

.headerString{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border-style: dotted;
    flex-wrap: wrap;
}

#geoUpdate{
    margin-right: 43%;
    padding: 0.5em 2em;    
}

#smallGeoUpdate{
    display: none;
}

ul{
    list-style-type: none;
}

.weather{    
    width: 45%;
    height: 35%;
    border-style: dotted;
    margin-top: 0%;
    padding-left: 0%;
}

.parameters{
    background-color:gray;
    height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 0%;
    padding-left: 3%;
    padding-right: 3%;
}

#currentTemp{
    border-style: dotted;
    display: flex;
    align-content: center;    
    width: 45%;
    height: 20%;
    flex-wrap: wrap;
    justify-content: space-between;
}

h2{    
    font-size: 2em;
}

#currentCity{
    margin-right: 50%;
}

#mainText{
    font-size: 8em;      
    border-style: dotted;
    margin: 0%;
    margin-right: 15%;
}

#mainIcon{
    display: block;
    width: 40%;    
    border-style: dotted;   
    
}

#mainSection{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.parName{
    font-weight: bold;
}

.circleButtons{
    border: none;
    background: none;  
    height: 3em;  
}

.buttonIcon{
    height: 100%;
}

input{
    padding: 1em 3em;
}

#addCity{
    display: flex;
    align-items: center;
}

h3{
    font-size: 1.5em;
}

.cityTemp{
    font-size: 3em;
    margin:0%;
}

.weatherIcons{
    display: block;
    width: 10%;
}

.cityNameString{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#cities{
    padding: 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.otherCities{
    border-style: dotted;
    width: 45%;
    margin-bottom: 3%;
}

.other{
    width: 100%;
}